/* Inicia Centros*/
.card_caba{
    background-image: url(./multimedia/caba.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0px 0px;
  
}

.card_cacba{
    background-image: url(./multimedia/cacba.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0px 0px;

}

.card_camp{
    background-image: url(./multimedia/camp.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0px 0px;
}

/*fin Centros */